@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  background-color: rgba(0, 18, 43, 0.993);
  background-size: "cover";
  background-repeat: no-repeat;
}

img {
  float: left;
  width: 8rem;
  height: 6.1rem;
  object-fit: fill;
  background-color: black;
  padding: 0.3rem;
}

.antd-card {
  width: 10rem;
  height: 8rem;
}

.antd-col {
  /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */

  padding: 1rem;
}

@media only screen and (max-width: 1500px) {
  .antd-card {
    width: 8rem;
    height: 8rem;
  }
}
